@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

html,
body {
  @apply bg-slate-900;
  color-scheme: dark;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
